# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# Metro
.metro-health-check*

# debug / logs
logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Supabase
supabase/.temp/
